Guidance on issuer field

What to put in the issuer field is an interesting question because there is no issuer. Right now we just don't say anything. I can think of a few options:

* Copy the subject. This is most similar to self-signed certificates, but it is kind of a waste
* Empty issuer. This isn't allowed by RFC 5280 and likely has compatibility implications
* A well-defined short placeholder
* Don't say anything and leave it as an exercise for the reader (status quo)

"Copy the subject" may not work for EE certificates, where Subject is on the way out, superseded by SAN.
"Empty issuer" seems most obvious, but isn't allowed.  So perhaps best to specify a fixed placeholder issuer, which also helps to distinguish "no signature" from "unknown signature algorithm".  (and could be linked to #6 to give this thing a common name.)

Wrote some "eh, whatever" text to start with in https://github.com/davidben/x509-alg-none/commit/465030b947e619bdee082057e66e3d359123395b. A fixed placeholder might not be wrong either, but I stopped short of picking one of those. :-)

1. document a fixed placeholder to be used if nothing else works.
2. for a proper trust anchor (CA), then the Issuer should == Subject, and that should be a common situation.

3. there are perhaps other strange exceptions, such as when replacing one trust anchor with another (RFC4210 section 4.4) where one trust anchor signs the new one.  During the overlap period, the new trust anchor is actually signed with the old, so it would not have alg-none.  But, afterwards, it becomes a trust anchor, so alg-none is correct, but it might be easier to find the right entry to delete if it matches Issuer/Subject as before.  This is perhaps a difficult to defend option.

> document a fixed placeholder to be used if nothing else works.

Sure. Any preference for which? I guess we can just allocate a attribute with type = id-unsigned?

> for a proper trust anchor (CA), then the Issuer should == Subject, and that should be a common situation.

Hmm, can you clarify? Is there a specification prescribes that a trust anchor (as opposed to a self-signed certificate, which is something else) must have issuer == subject?

A trust anchor isn't an X.509 certificate in the first place. It's purely subject information. That mismatch is the point of this document. We happen to represent them as self-signed X.509 certificates, but that's a syntactic hack. When we choose that syntactic hack, issuer == subject. This document exists to provide a more efficient (but no less unsound) syntactic hack.

It's true that some _implementations_ have, based on that syntactic hack, treated subject == issuer special in interpreting their own local configuration. It may even be convenient to set issuer == subject to be compatible with those implementations! But local configuration is ultimately, well, local, and implementations can choose to do what they like, including rewriting the trust anchor to whatever form is convenient for them.

> there are perhaps other strange exceptions, such as when replacing one trust anchor with another (RFC4210 section 4.4) where one trust anchor signs the new one. During the overlap period, the new trust anchor is actually signed with the old, so it would not have alg-none. But, afterwards, it becomes a trust anchor, so alg-none is correct, but it might be easier to find the right entry to delete if it matches Issuer/Subject as before. This is perhaps a difficult to defend option.

I think it's worth very precise here to describe what is going on. It's, I think, less strange than you describe. Nothing changes form here.

In this scenario, there are two CAs: Old and New. CAs are not certificates. They are nodes in the PKI graph described by a name, public key, and perhaps other subject information (SKID, etc.). Nodes do not have issuer fields in the first place, so it is not meaningful to say what their issuer is.

Some relying parties have Old as a trust anchor, and some have New. In each of those relying parties, they have local configuration that contains Old and/or New's subject information in whatever form those applications use. That form could be:
* a self-signed certificate (in which case issuer == subject and we have the wasteful self-signature)
* an unsigned certificate (in which case issuer is... whatever we pick for this issue, and there is no signature)
* not as a certificate at all (e.g. RFC 5914).

During a transition from Old-as-a-trust-anchor to New-as-a-trust-anchor, it is useful to issue a cross-certificate from Old to New. That is an actual certificate, an edge in the PKI graph, where Old signs the information in New. The cross-certificate is a bona fide signed certificate, with meaningful issuer fields, and everything, and this draft doesn't apply. This isn't a trust anchor, but an edge from one CA to another.

Multiple objects may describe the same X.509 entity's subject information. The cross certificates in the second case and the various representations in the first case are not the same object, and that's fine. Their connection is that they both contain the same subject information, but they are consumed by different applications. The cross-certificate is not local configuration but part of the certificate chain being validated.


> > document a fixed placeholder to be used if nothing else works.
> 
> Sure. Any preference for which? I guess we can just allocate a attribute with type = id-unsigned?
> 
> > for a proper trust anchor (CA), then the Issuer should == Subject, and that should be a common situation.
> 
> Hmm, can you clarify? Is there a specification prescribes that a trust anchor (as opposed to a self-signed certificate, which is something else) must have issuer == subject?

It's that a self-signed certificate has issuer==Subject, and simplifying expectations has value.

> A trust anchor isn't an X.509 certificate in the first place. It's purely subject information. That mismatch is the point of this document. We happen to represent them as self-signed X.509 certificates, but that's a syntactic hack. When we choose that syntactic hack, issuer == subject. This document exists to provide a more efficient (but no less unsound) syntactic hack.

so I understand, which is why #1 is the preferred mechanism.
but, for situations where that does not work for some reason, then issuer==subject.

> It's true that some _implementations_ have, based on that syntactic hack, treated subject == issuer special in interpreting their own local configuration. It may even be convenient to set issuer == subject to be compatible with those implementations! But local configuration is ultimately, well, local, and implementations can choose to do what they like, including rewriting the trust anchor to whatever form is convenient for them.

This is what I'm saying too.

> 
> > there are perhaps other strange exceptions, such as when replacing one trust anchor with another (RFC4210 section 4.4) where one trust anchor signs the new one. During the overlap period, the new trust anchor is actually signed with the old, so it would not have alg-none. But, afterwards, it becomes a trust anchor, so alg-none is correct, but it might be easier to find the right entry to delete if it matches Issuer/Subject as before. This is perhaps a difficult to defend option.
> 
> I think it's worth very precise here to describe what is going on. It's, I think, less strange than you describe. Nothing changes form here.

In the RFC4210 change of CA, which is really update trust anchors, one starts by signing the new CA with the old CA.
That means that the new CA arrives at some systems not as a (fiat) trust anchor, but as a subordinate CA.
Later, that system gets the new *trust anchor*, and really it then needs to replace the old trust anchor with the new one.  The new one is already authenticated by being signed with the old one.  So having it *match* the subordinate certificate might be a feature.
(Later on, new CA signs oldCA, and old CA is removed as a trust anchor)


> It's that a self-signed certificate has issuer==Subject, and simplifying expectations has value.

> so I understand, which is why https://github.com/davidben/x509-alg-none/issues/1 is the preferred mechanism.
> but, for situations where that does not work for some reason, then issuer==subject.

Ah, sure. I think we're on the same page there. That's what I was trying to capture by allowing a couple of options and not really prescribing anything, but I guess I forgot to give any reason for why you might want to do it. I think I'd meant for the "needed for compatibility with existing applications" clause to apply to the whole paragraph but that got lost in wordsmithing. Perhaps...

> An unsigned certificate has no issuer, so there no meaningful values to use for the issuer and issuerUniqueID fields and the authority key identifier and issuer alternative name extensions. This document does not mandate particular values but gives general guidance:
>
> Senders SHOULD set these fields to minimize the size of the certificate:
>
> * The issuer field may not be empty, so it is set to a short placeholder value [[TODO: Suggest a value?]]
> * The authority key identifier extension is omitted
>
> However, if needed for compatibility with existing applications, senders MAY instead set these fields as in a self-signed certificate. That is:
>
> * The issuer field is a copy of the subject field (if not empty)
> * The authority key identifier extension matches the subject key identifier, or is omitted
>
> {{!RFC5280}} prohibits setting issuerUniqueID and does not incorporate issuer alternate names in path validation, so senders SHOULD omit both unless needed for compatibility with existing applications.

Re RFC4210...

> In the RFC4210 change of CA, which is really update trust anchors, one starts by signing the new CA with the old CA.
> That means that the new CA arrives at some systems not as a (fiat) trust anchor, but as a subordinate CA.
> Later, that system gets the new trust anchor, and really it then needs to replace the old trust anchor with the new one. The new one is already authenticated by being signed with the old one. So having it match the subordinate certificate might be a feature.
> (Later on, new CA signs oldCA, and old CA is removed as a trust anchor)

Hmm, I may have missed it, but RFC4210 doesn't seem to particular prescribe matching operations when using a subordinate certificate to bootstrap believe in a corresponding trust anchor. Matching _everything_ doesn't make much sense. I mean, even if you make the names match (which... has problems, please don't do that!), the AKID extension is not going to match between the two.

Though hopefully "compatibility with existing applications" covers any weird applications that might have matched the name anyway. (But, seriously, please don't reuse the name when minting a new CA. It causes so many problems.)

> "Copy the subject" may not work for EE certificates, where Subject is on the way out, superseded by SAN. 

When copying the subject Distinguished Name (DN) to the issuer DN, no need to copy also any SAN extensions, 
so no issue from that angle, but as mentioned for the first option:

> * Copy the subject. This is most similar to self-signed certificates, but it is kind of a waste

this would be a waste, and moreover it would be similarly confusing as a self-signature.
So for both these reasons, not the best option.

>"Empty issuer" seems most obvious, but isn't allowed.

Well, it depends on what is meant by "empty issuer" and by "not allowed".
Note that semantic requirements by X.509 and RFC 5280 do not apply to trust anchors (TAs) even if TAs have the format of an X.509 public-key certificate - TAs have been explicitly exempted from these.

Even when using that format, from a syntactic perspective an "empty" issuer can be represented easily:
not by omitting the `issuer` field, which indeed would not be possible because it is non-optional,
but as a so-called "NULL-DN", which is a zero-length SEQUENCE OF RelativeDistinguishedNames (RDNs), 
with the DER encoding consisting of two bytes: 0x30 0x00.

> So perhaps best to specify a fixed placeholder issuer, which also helps to distinguish "no signature" from "unknown signature algorithm". (and could be linked to [#6](https://github.com/davidben/x509-alg-none/issues/6) to give this thing a common name.)

Yes - the NULL-DN can serve for this purpose. It is the shortest and simplest such placeholder.
Therefore I see it as the canonical choice. In a sense, it covers options 2 and/or 3:

> * Empty issuer. [...]
> * A well-defined short placeholder

The fourth option:

> * Don't say anything and leave it as an exercise for the reader (status quo)

is not desirable because it just defers a solution and would bear the strong risk of leading to confusion and incompatibility.

So in my view, placing the NULL-DN value in the `issuer` field is clearly the best option.




@DDvO By "empty issuer" I mean NULL-DN and by "not allowed" I mean that RFC 5280 forbids it:

>    The issuer field identifies the entity that has signed and issued the
>   certificate.  The issuer field MUST contain a non-empty distinguished
>   name (DN).

Because of that, I do not think we can reasonably use that as the placeholder value.

> Note that semantic requirements by X.509 and RFC 5280 do not apply to trust anchors (TAs) even if TAs have the format of an X.509 public-key certificate - TAs have been explicitly exempted from these.

While that's true, I expect that this would trip enough linters and strict parsers that it would probably cause more trouble than is worth it to use it here. It's a pity, because I would otherwise agree that NULL-DN would be a natural placeholder here.

Also, the use case is not only trust anchors, but also generic self-signed (ie. not CA-issued) certificates for TLS servers.  So X.509 semantics are indeed relevant here.

I agree we can't get away from wanting this to work when subject == issuer for compatibility. by supporting that we can still use this with years and years of validators that do not check signature and would otherwise need an update to understand a fixed value.  So imo the guidance should be either subject == issuer, or a chosen defined "This is not signed by anything" DN which sadly can not be the NULL-DN. 

> [@DDvO](https://github.com/DDvO) By "empty issuer" I mean NULL-DN and by "not allowed" I mean that RFC 5280 forbids it:
> 
> > The issuer field identifies the entity that has signed and issued the
> > certificate.  The issuer field MUST contain a non-empty distinguished
> > name (DN).
> 
> Because of that, I do not think we can reasonably use that as the placeholder value.
> 
> > Note that semantic requirements by X.509 and RFC 5280 do not apply to trust anchors (TAs) even if TAs have the format of an X.509 public-key certificate - TAs have been explicitly exempted from these.

The statement that "RFC 5280 forbids NULL-DN" for the issuer field of a cert used as a TA is wrong.
Also the sentence "`{{!RFC5280}} does not permit empty issuers.`" in the [proposed text](https://github.com/davidben/x509-alg-none/commit/465030b947e619bdee082057e66e3d359123395b) is wrong and misleading. It should be re-phrased to give the real reason.

Again, RFC 5280 does not apply to TA certs, and thus the above mentioned requirement from its [section 4.1.2.4](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.4) does NOT apply.
For data structures that look like an X.509 public-key cert but are just trust anchors, alleged X.509 / RFC 5280 requirements  
 are nothing but a very widespread misinterpretation.

> While that's true, I expect that this would trip enough linters and strict parsers that it would probably cause more trouble than is worth it to use it here.

I just had a look at the OpenSSL implementation and found that non-emptiness of the issuer DN ist not checked by default,
but with the `X509_V_FLAG_X509_STRICT` flag (or `-x509_strict` CLI option, respectively), unfortunately this does get checked also for trust anchor certs.
I must admit that it was me who [added this check to `x509_vfy.c`](https://github.com/openssl/openssl/blob/d56f9b4d894d1a3ce92f1c308ef42398495943e7/crypto/x509/x509_vfy.c#L666)  (and several related checks) 
while at that time not being aware myself that all those checks should not be applied to TA certs at the end of the chain.

> It's a pity, because I would otherwise agree that NULL-DN would be a natural placeholder here.

Yes, it's a pity that for pragmatic reasons (namely, likely wrong TA cert checks in various implementations)
it will not be feasible to use NULL-DN here.


I suppose whether rules for public key certificates apply when you use a public key certificate to represent a trust anchor, even though trust anchors aren't public key certificates, is one of those great philosophical debates that it's best to avoid stepping into. 😆 

FWIW, I checked the ITU specification and it says:

> IETF RFC 5914 defines trust anchor information as a choice among three alternatives:
>
> ```
> TrustAnchorChoice ::= CHOICE {
>  certificate Certificate,
>  tbsCert [1] EXPLICIT TBSCertificate,
>  taInfo [2] EXPLICIT TrustAnchorInfo }
> ```
> The certificate alternative specifies a public-key certificate that can be either a self-signed certificate or a public-key
certificate.
> The tbsCert alternative specifies an unsigned public-key certificate as defined in clause 7.2.
> NOTE 3 – This alternative is deprecated by this Specification and therefore not considered further.
> The taInfo alternative specifies a special trust anchor information format defined by IETF RFC 5914.
> If the trust anchor information is not used for signing public-key certificates, it shall be an end-entity public-key certificate.

That seems to suggest that this "is" a public-key certificate. The ITU definition of a public-key certificate has the same prohibition, so it's not just the RFC 5280 profile of X.509:

> The issuer component shall hold the distinguished name of the CA that issued the public-key certificate. It shall hold a
non-empty distinguished name.

So I think parsers that forbid NULL-DN here are on regrettably solid footing. Do you think it still makes sense to soften the proposed text, given that? If so, how do you feel about:

> {{!RFC5280}} does not permit empty issuers, so doing so may not be interoperable with some receivers. Senders MAY use the subject field (though note the subject may be empty), as in a self-signed certificate, or instead use a short placeholder value.

(Reasoning: I couldn't think of a crisp way to qualify the first sentence, and it seems unambiguously true that RFC5280 forbids it, just unclear whether it applies, so I added another clause to emphasize that we're mostly concerned about interoperability.)

> I suppose whether rules for public key certificates apply when you use a public key certificate to represent a trust anchor, even though trust anchors aren't public key certificates, is one of those great philosophical debates that it's best to avoid stepping into. 😆

Regardless whether one calls this a philosophical debate, It has very down-to-earth practical implications,
namely whether structures that follow the syntax of public-key certificates get accepted or rejected as trust anchors
by software stacks that aim at implementing ITU and IETF specs including the RFC 5280 cert profile.

> FWIW, I checked the ITU specification and it says:
> 
> > IETF RFC 5914 defines trust anchor information as a choice among three alternatives:
> > ```
> > TrustAnchorChoice ::= CHOICE {
> >  certificate Certificate,
> >  tbsCert [1] EXPLICIT TBSCertificate,
> >  taInfo [2] EXPLICIT TrustAnchorInfo }
> > ```
> >     
> >   
> > The certificate alternative specifies a public-key certificate that can be either a self-signed certificate or a public-key
> > certificate.
> > The tbsCert alternative specifies an unsigned public-key certificate as defined in clause 7.2.
> > NOTE 3 – This alternative is deprecated by this Specification and therefore not considered further.
> > The taInfo alternative specifies a special trust anchor information format defined by IETF RFC 5914.
> > If the trust anchor information is not used for signing public-key certificates, it shall be an end-entity public-key certificate.

Thanks for checking; looks like you quoted this from section 7.5. of Rec. ITU-T X.509 (10/2019).
 
> That seems to suggest that this "is" a public-key certificate. The ITU definition of a public-key certificate has the same prohibition, so it's not just the RFC 5280 profile of X.509:
> 
> > The issuer component shall hold the distinguished name of the CA that issued the public-key certificate. It shall hold a non-empty distinguished name.

This correctly quotes from section 7.2.2 of that document, but this sentence does not really apply.
One reason is that the new unsigned (alg-none) certs to not need to be issued by a CA - anyone can do.
The same holds for [RFC 5280 section 4.1.2.4](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.4):

>   The issuer field identifies the entity that has signed and issued the
>   certificate.  The issuer field MUST contain a non-empty distinguished name (DN).

also because an unsigned cert is not signed ;-)

Moreover, note that a month ago I wrote above:
> Note that semantic requirements by X.509 and RFC 5280 do not apply to trust anchors (TAs) even if TAs have the format of an X.509 public-key certificate - TAs have been explicitly exempted from these.

and for some reason this statement so far has been neglected.
Here is in full detail what I have been referring to:

[RFC 6818 section 2](https://datatracker.ietf.org/doc/html/rfc6818#section-2):
> Update to [RFC 5280, Section 3.2](https://datatracker.ietf.org/doc/html/rfc5280#section-3.2): "Certification Paths and Trust"
> 
>   Add the following paragraph to the end of [RFC 5280, Section 3.2](https://datatracker.ietf.org/doc/html/rfc5280#section-3.2):
> Consistent with [Section 3.4.61](https://datatracker.ietf.org/doc/html/rfc6818#section-3.4.61) of X.509 (11/2008) [[X.509](https://datatracker.ietf.org/doc/html/rfc6818#ref-X.509)], we note
| that use of self-issued certificates and self-signed certificates
| issued by entities other than CAs are outside the scope of this
| specification.  Thus, for example, a web server or client might
| generate a self-signed certificate to identify itself.  These
| certificates and how a relying party uses them to authenticate
| asserted identities are both outside the scope of [RFC 5280](https://datatracker.ietf.org/doc/html/rfc5280).

This refers to the following sentence in ISO/IEC 9594-8:2008 section 3.4.61:
> NOTE – Use of self-issued certificates and self-signed certificates issued by other than CAs are outside the scope of this Recommendation | International Standard.

saying essentially the same thing without giving an example.

> So I think parsers that forbid NULL-DN here are on regrettably solid footing.
> Do you think it still makes sense to soften the proposed text, given that?

Thank your for proposing an adaptation.

As just explained, I still do see the need for further adapting the statement because the RFC 5280 and X.509 issuer requirements do not make sense for unsigned certs and explicitly do not apply to self-issued certs typically used for TAs.

> If so, how do you feel about:
> 
> > {{!RFC5280}} does not permit empty issuers, so doing so may not be interoperable with some receivers. Senders MAY use the subject field (though note the subject may be empty), as in a self-signed certificate, or instead use a short placeholder value.
> 
> (Reasoning: I couldn't think of a crisp way to qualify the first sentence, and it seems unambiguously true that RFC5280 forbids it, just unclear whether it applies, so I added another clause to emphasize that we're mostly concerned about interoperability.)

(BTW, the 
> (though note the subject may be empty),

part would not really work out because the unsigned cert is going to be used as a TA referring to a CA,
for which the subject MUST be non-empty DN.)

In line with the info/comments I've just given here, better write something like:

Note that the requirements by X.509 and RFC 5280 on the certificate issuer field cannot be applied to unsigned certificates and explicitly do not apply to self-issued certificates typically used for representing trust anchors - see RFC 6818 section 2.
Thus, it would be permitted to use the NULL-DN, which would be best for underling that the unsigned certificate structure has no issuer, but this may be not interoperable with major existing implementations, which at least in some circumstances check the non-emptiness and other properties of the issuer field even for trust anchor certificates.
Therefore, senders MUST use the same non-empty DN value for both the subject and issuer fields.

(Or maybe write SHOULD instead, to be somewhat more open, while this again would place more risk on interop.)

>> Note that semantic requirements by X.509 and RFC 5280 do not apply to trust anchors (TAs) even if TAs have the format of an X.509 public-key certificate - TAs have been explicitly exempted from these.
>
> and for some reason this statement so far has been neglected.

As I said, I don't think it's a good use of time to try to dig into this. I certainly agree it would be nice if they didn't apply, but I think the situation is, at best slightly ambiguous.

> Here is in full detail what I have been referring to:
> [RFC 6818 section 2](https://datatracker.ietf.org/doc/html/rfc6818#section-2):
> [...]

I'm not sure that's what that says. You claim that TAs (trust anchors I assume) have been explicitly exempted, but the text says it's exempt if "by entities *other than CAs*" and then says "*a web server or client* might generate a self-signed certificate to identify itself". I would not read that as exempting encompasses a CA issuing a self-signed certificate to describe itself. At best, it's quite unclear.

And, of course, simply saying that none of the requirements in the document apply is not particularly helpful because clearly one needs to know that a SubjectPublicKeyInfo is interpreted as a public key. In reality, the whole reason for this mess is that people find it convenient to just engage the "certificate error" codepath where some random application-specific subset of the rules are applied while others aren't. We're in this situation because X.509 is a mess and led people to put square pegs in round holes and here we are.

Regardless, all this is moot because software rejects it.

> As just explained, I still do see the need for further adapting the statement because the RFC 5280 and X.509 issuer requirements do not make sense for unsigned certs and explicitly do not apply to self-issued certs typically used for TAs.

See above. It is quite ambiguous whether it applies.

> (BTW, the 
>
>> (though note the subject may be empty),
>
> part would not really work out because the unsigned cert is going to be used as a TA referring to a CA,
> for which the subject MUST be non-empty DN.)

Again, this draft is not only about trust anchors. Please see the introduction. Indeed the text you quoted already gives an example of when people do this. (Using a self-signed certificate to identify an end-entity.)

Because of all of the above, I do not think your replacement text will work. I'll wordsmith things a bit and perhaps provide a concrete sample placeholder, since this seems to be a sticking point and I would like to close out this issue rather than continue unproductively debating whether a self-signed certificate is a certificate.



> rather than continue  unproductively debating whether a self-signed certificate is a certificate.

I never intended to debate whether a self-signed certificate is a certificate.
Not even whether an unsigned X.509-like structure (for which the main use is as a TA = trust anchor) is still a certificate.
I'm okay with people calling everything that (syntactically) looks like an X.509 public-key cert a certificate,
but do see the conceptual need to distinguish under which circumstances which profile requirements apply.
We agree that due to unfortunate (and questionable) implementation reality, 
pragmatically one cannot use the NULL-DN here and it's moot to go into further detail here.
 
My recent points were essentially that 
* It is at least clearly debatable, and in my opinion even wrong and misleading, 
to _explicitly state_ that RFC 5280 (and X.509 in general) disallow empty (NULL-DN) issuer fields of unsigned certs.
* For interoperability reasons it is pragmatically best to require copying the subject field to the issuer field 
although it is kind of waste and it can be misleading because that structure is not necessarily self-issued 
(by the CA referred to) but can be produced by anyone knowing the subject DN and the public key of the CA.
* The subject DN of a CA cannot really be empty, so no collision with any non-emptiness checks 
when reusing it in the issuer field of unsigned certs.
* IMO one should not suggest/allow using any other placeholder value because this would undermine interoperability.

How about further adapting
> {{!RFC5280}} does not permit empty issuers, so doing so may not be interoperable with some receivers. Senders MAY use the subject field (though note the subject may be empty), as in a self-signed certificate, or instead use a short placeholder value.

to this?

Senders SHOULD use the (non-empty) value of the subject field also in the issuer field.
This is to avoid potential interoperability issues with receivers checking the issuer field
despite not being needed for unsigned certificates.


> The subject DN of a CA cannot really be empty, so no collision with any non-emptiness checks when reusing it in the issuer field of unsigned certs.

Again, not every use case here is for describing CAs. Any suggested text which implies that the subject is always non-empty will not work for this document. Indeed, from working group discussions, one of the applications that is excited to use this is WebRTC, which precisely uses it for (as in the text you quote):

> Thus, for example, a web server or client might generate a self-signed certificate to identify itself.

See also, elsewhere in this issue:

> Also, the use case is not only trust anchors, but also generic self-signed (ie. not CA-issued) certificates for TLS servers. So X.509 semantics are indeed relevant here.

> Again, this draft is not only about trust anchors. Please see the introduction. Indeed the text you quoted already gives an example of when people do this. (Using a self-signed certificate to identify an end-entity.)

That means the text must *at minimum* acknowledge the possibility that you don't have a non-empty subject to copy. Previously, I had tried to satisfy everyone by just not saying anything about which placeholder to use when that fails. Given that has triggered some opposition, I think we'll just have to write down something.

I also do not think one can reasonably claim that X.509 itself is merely a certificate profile. If it were just RFC 5280 that said this, I would agree that one can pedantically claim that RFC 5280 does not prohibit empty issuers in unsigned certificates, but  X.509 is the thing defining this type in the first place, and quite unambiguously prohibits it. It seems thus confusing to not say outright that there's a reason for interoperability issues around empty issuers and empty subjects.

I've taken another pass at the text given all of this.

https://github.com/davidben/x509-alg-none/commit/6ff6477342dfdd3be5bc6260b9af53e8bd128fe3